* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

#question-container {
  padding: 3rem;
  text-align: center;
  width: 80vw;
  max-width: 400px;
  min-height: 400px;
  margin: auto;
}

#question-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.option-button {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(40, 40, 40);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.option-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 1);
  background-color: rgb(70, 70, 70);
}

.option-button.selected {
  background-color: rgb(0, 123, 255);
  color: white;
}

.ok-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.ok-button {
  background-color: green;
  width: 20%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  border: 1px solid #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem 0 0 0;
}

.ok-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgb(23, 102, 23);
  background-color: rgb(0, 150, 0);
}

#back-button {
  height: 20%;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(40, 40, 40);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

#back-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgb(184, 181, 181);
  background-color: rgb(70, 70, 70);
}

#loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dot-container {
  display: flex;
  justify-content: space-evenly;
  width: 100px; /* Total width of the 3 dots */
  margin-bottom: 1rem;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 255, 128); /* Blue color for the dots */
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(1) {
  animation-delay: 0s; /* First dot starts immediately */
}

.dot:nth-child(2) {
  animation-delay: 0.2s; /* Second dot starts a bit later */
}

.dot:nth-child(3) {
  animation-delay: 0.4s; /* Third dot starts even later */
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: white;
  font-weight: 500;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Bounces upwards */
  }
}
