* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
  font-family: calibri;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #facc15;
  text-shadow: 0 0 5px #facc15;
  transition: 0.3s ease;
}

input {
  padding: 0.75rem 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: white;
  outline: none;
}

.full-width {
  width: 100%;
}

#main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercise-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: 10px 0;
  padding: 10px 0;
  min-width: 750px;
  max-width: 1000px;
  border-radius: 1rem;
}

.exercise-card:first-child {
  margin-top: 20px;
}

.exercise-card:last-child {
  margin-bottom: 20px;
}

.exercise-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.exercise-card-header > div {
  flex: 1;
  text-align: center;
}

.exercise-name {
  text-align: left;
}

.exercise-rest {
  text-align: right;
}

.exercise-card-sub-header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.exercise-card-sub-header h3 {
  width: 48%;
  text-align: center;
}

.exercise-card-splits {
  width: 90%;
}

.exercise-card-individual-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.exercise-card-individual-split input {
  width: 48%;
}

.done-button {
  padding: auto;
}
